.soc-buttons-cont {
    float: right;
}
.soc-buttons-cont, .soc-vote-title, .soc-button, .bx_auth_services {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.bx_auth_services {
    margin-left: 0;
}
.bx-spacer, .bx-spacer + span {
    display: none;
}
.soc-vote-title {
    color: #005b2b;
}
.soc-button {
    padding-left: 28px;
    position: relative;
}
.soc-button a {
    position: absolute;
    width: 24px !important;
    height: 24px !important;
    top: 0;
    left: 0;
    z-index: 5;
}
.vote_number {
    display: inline-block;
    line-height: 22px;
    width: 42px;
    text-align: center;
    border: 1px solid #cfcfcf;
    color: #101010;
}
.Facebook-button {
    background: url("images/fb.jpg") no-repeat center left !important;
}
.VKontakte-button {
    background: url("images/vk.jpg") no-repeat center left !important;
}
.Odnoklassniki-button {
    background: url("images/ok.jpg") no-repeat center left !important;
}
.voted {
    opacity: 0.5;
}
.soc-button span.bx-spacer {
	width: 0 !important;
display: none;
}
.soc-button a {
	background-image: none !important;
	margin-left: 0px;
	position: absolute;
}
.soc-button a.facebook-button {
    background: url("images/fb.jpg") no-repeat center left !important;
}
.soc-button a.vkontakte-button {
    background: url("images/vk.jpg") no-repeat center left !important;
}
.soc-button a.odnoklassniki-button {
    background: url("images/ok.jpg") no-repeat center left !important;
}