.soc-buttons-cont {
    display: inline-block;
    vertical-align: middle;
    width: 700px;
}
.soc-button, .bx_auth_services {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.soc-button {
    padding-left: 28px;
    position: relative;
}
.soc-button a {
    position: absolute;
    width: 24px !important;
    height: 24px !important;
    top: 0;
    left: 0;
    z-index: 5;
    background-image: none !important;
    margin-left: 0px;
}
.soc-button span.bx-spacer {
    width: 0 !important;
    display: none;
}
.bx_auth_services {
    margin-left: 0;
    float: right;
}
.bx-spacer, .bx-spacer + span {
    display: none;
}
.soc-vote-title {
    display: inline-block;
    vertical-align: middle;
    float: left;
}
.soc-vote-title-hidden {
    display: none;
}
.soc-number-vote {
    display: inline-block;
    line-height: 22px;
    width: 42px;
    text-align: center;
    border: 1px solid #cfcfcf;
    color: #101010;
}
.voted {
    opacity: 0.5;
}
.soc-facebook-button {
    background: url('images/fb.jpg') no-repeat center left !important;
}
.soc-vkontakte-button {
    background: url('images/vk.jpg') no-repeat center left !important;
}
.soc-odnoklassniki-button {
    background: url('images/ok.jpg') no-repeat center left !important;
}
.soc-user-name {
    float: left;
    width: 205px;
    font-weight: bold;
}
.soc-popup {
    width: 400px;
    min-height: 200px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    margin-top: -100px;
    box-shadow: 0px 0px 10px #000;
    left:50%;
    margin-left: -200px;
    background-color: white;
    display: none;
}
.soc-popup .soc-popup-content {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}
.soc-popup-content h2 {
    margin-bottom: 32px;
}
.soc-popup-content .soc-button-popup {
    width: 70px;
    height: 25px;
    text-align: center;
    border: 1px solid #cfcfcf;
    background: white;
    padding: 3px 20px;
    margin: 0 6px;
    text-decoration: none;
    color: black;
}

